body {
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
}

.screen {
  display: none;
}

p {
  font-size: 1rem;
}


html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

.breadcrumb-bar {
  background-color: #67727a; 
  color: white;
  padding: 10px 0px;
  margin-top: 50px;
}

.breadcrumb-bar p {
  padding: 0px;
  margin: 0px;
}