body {
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
}

.screen {
  display: none;
}


p {
  font-size: 1rem;
}

/* .container {
  white-space: normal;
  text-wrap: auto;
} */

/* .container {
  padding: 10%;
} */


/*! @author | Banjo Mofesola Paul | Chief Developer, Planet NEST | mofesolapaul@planetnest.org | Wednesday, 19th July, 2017 */

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

/* .cont {
  max-width: 80%;
  display: flex;
  white-space: normal;
} */